%h1 New Person
.input-group
  = form_for :person, url: people_path do |f|
    %p
    = f.label :name
    %br
    = f.text_field :name, { class: "form-control" }
    %p
    = f.label :starting_weight
    %br
    = f.text_field :starting_weight, { autocomplete: :off, class: "form-control" }
    %br
    = f.submit class: "btn btn-primary text-uppercase btn-block", value: 'SAVE >'
%h3
  %a= link_to('< Back', :back, class: 'btn btn-default btn-block navbar navbar-fixed-bottom')
