%h1{ class: 'text-center' }= "New league for #{@event.name}"
%br
- flash.each do |key, value|
  .alert{ class: "alert-#{key}" }
    %button.close{ data: { dismiss: 'alert' } } x
    %strong
      = value
%div
  .input-group
    = form_for :league, url: event_leagues_path do |f|
      %p
      = f.label :name
      %br
      = f.text_field :name, { autocomplete: :off, class: 'form-control' }
      %br
      = f.submit class: 'btn btn-primary text-uppercase btn-block', value: 'SAVE >'

%h3
  %a= link_to('< Back', event_leagues_path(@event), class: 'btn btn-default btn-block navbar navbar-fixed-bottom')
