%h1{ class: 'text-center' }= 'Events List:'
%br
%div{ class: 'table-container' }
  %table{ border: 0, class: 'table table-condensed borderless' }
    %tr
      %th{ class: 'ordinal' }
      %th{ class: 'text-left person-name' } NAME
      %th{ class: 'text-left person-name' }
      %th{ class: 'text-left person-name' } # PARTICIPANTS
    - @events.each_with_index do |event, index|
      %tr
        %td{ class: 'ordinal' }= index
        %td{ class: 'text-left weight' }= link_to(event.name, event_path(event.id))
        %td{ class: 'text-left weight' }
        %td{ class: 'text-left weight' }= event.people.count

.actions
  = link_to('CREATE NEW EVENT', new_event_path)
  |
  = link_to('LEAGUES LIST', leagues_path)
